.bg-custom {
    background-color: #ededed;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.container-padding {
    padding: 0 5px 0 5px;
}

.img-profile {
    width: 30px;
}

.img-thumbnail {
    height: 80px;
}

.taskbar {
    padding-right: 0;
    padding-left: 15px;
    padding-top: 5px;
}

.card {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0;
}

.card-body {
    padding: 5px
}

.card-title {
    margin: 0;
}

.img-max {
    max-width: 35px
}

.nav-item {
    font-weight: 500;
    padding-right: 30px;
}
